.card {
  float: left;
  border: solid 1px black;
  width: 120px;
  border-radius: 5px;
  height: 170px;
  margin-right: 20px;
}

.covered {
  background-image: url("../img/card-back.png");
}

.covered img{
  display:none;

}
.hand {
  overflow: auto;
  margin-left: 43%;
}

body {
  background-image: url('../img/back.jpg');
}

.hit-button{
 margin-left: 50%;
 color: red ;
}
.win{
  position: absolute;
  height: 400px;
  width: 800px;
  top: 50px;
}
.lose{
  position: absolute;
  height: 400px;
  width: 800px;
  top: 50px;
}
